.AllPopular-container {
    text-align: center;
    padding: 2vh 2vw;
    margin-top: 2vh;
    background: var(--background);
}

.HeaderAllpopular {
    margin-bottom: 2vh;
}

.HeaderAllpopular p {
    padding: 20px;
    font-size:1.5rem;
    color:var(--text-color);
}

.img-container {
    display: grid;
    grid-template-columns: repeat(5, 12vw);
    grid-template-rows: repeat(2, 9vw);
    justify-content: center;
}

.img-container img {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
    border-radius: 1vh;
    filter: blur(1px);
    transition: 0.5s; 
}

.img-container img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: blur(0px);
    box-shadow: var(--box-shadow);
}
/* Media Queries for smaller screens */
@media (max-width: 900px) {
    .img-container {
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(4, 15vw);
    }

    .img-container img {
        width: 15vw;
        height: 15vw;
    }

    .HeaderAllpopular p {
        font-size: 1rem; /* Font size adjusted for medium screens */
    }

    .HeaderAllpopular {
        margin-bottom: 1.5vh;
    }
}

@media (max-width: 600px) {
    .img-container {
        grid-template-columns: repeat(2, 20vw);
        grid-template-rows: repeat(5, 18vw);
    }

    .img-container img {
        width: 20vw;
        height: 18vw;
    }

    .HeaderAllpopular p {
        font-size: 1rem; /* Font size adjusted for smaller screens */
    }

    .HeaderAllpopular {
        margin-bottom: 1vh;
    }
}
