/* Base Styling */
.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 150px;
  height: 7vh;
  object-fit: cover;
  margin-left: 20px;
  transition: width 0.3s ease;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 22px;
  justify-content: center;
  flex-grow: 1;
}

.navbar-menu li {
  text-align: center;
  overflow: hidden;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar-menu li a.active {
  color:rgb(185, 214, 242);
}

/* .navbar-menu li a:hover {
  color: var(--hover-color);
  transition: none;
} */

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

/* Responsive Styling */
@media (max-width: 1050px) {
  .logo {
    width: 100px;
    height: 7vh;
  }

  .navbar-menu {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 80px;
    height: 7vh;
  }

  .navbar-menu {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .navbar {
    justify-content: space-between;
  }

  .logo {
    width: 70px;
    height: 7vh;
  }

  .navbar-menu {
    font-size: 15px;
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}